
        html, body {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        h1 {
            margin: 10px;
        }


        

        
       

        .gif-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh; /* Reduzi a altura para ajustar o espaçamento */
        }
        .gif-container img {
            max-width: 100%;
            max-height: 100%;
            margin-top: 10vh; /* Ajuste a margem superior para centralizar verticalmente */
        }
        .quote-container {
            text-align: center;
            margin-top: 20px; /* Aumentei a margem superior para aproximar da gif-container */
        }
        button {
            margin: 5px;
        }

       /* Estilos padrão para desktop */

/* Estilos para dispositivos móveis com largura de tela até 480 pixels */
@media (max-width: 480px) {
    /* Estilos para dispositivos móveis */
  }
  
  /* Estilos para dispositivos móveis com largura de tela de 481 pixels até 768 pixels */
  @media (min-width: 481px) and (max-width: 768px) {
    /* Estilos para dispositivos móveis */
  }
  
  /* Estilos para dispositivos móveis com largura de tela de 769 pixels até 1024 pixels */
  @media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para dispositivos móveis */
  }
  
          
